<mat-toolbar class="max-w-7xl mx-auto border-x justify-between bg-amber-100">
    
    <a routerLink="hero">La Trei Frati</a>
    <a routerLink="about" class="text-xs sm:text-lg float-right font-sans hover:underline">About us</a>
    <a routerLink="home" class="text-xs sm:text-lg float-right font-sans hover:underline">Order</a>
    <a routerLink="contact" class="text-xs sm:text-lg float-right font-sans hover:underline">Contact</a>
    <a routerLink="/cart-page">
        Cart <span ></span>
      </a>
    
        
</mat-toolbar>